<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.farm6">

    <application
        android:name=".FarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farm6">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Login in and Registration
        <activity android:name=".RegisterBuyerActivity"/>
        <activity android:name=".RegisterSellerActivity"/>
        <activity android:name=".RegisterActivity"
                    android:exported="true"/>
        <activity android:name=".ForgotPasswordActivity"/>
        //Farmer
        <activity android:name = ".Farmer.FarmerMainActivity"/>
        <activity android:name = ".Farmer.Order.FarmerOrderListActivity"/>
        <activity android:name = ".Farmer.Order.FarmerOrderDisplayActivity"/>
        <activity android:name = ".Farmer.Stock.FarmerStockListActivity"/>
        <activity android:name = ".Farmer.Stock.FarmerStockUpdateChoiceActivity"/>
        <activity android:name = ".Farmer.Stock.FarmerStockNewActivity"/>
        <activity android:name = ".Farmer.Stock.FarmerStockDisplayActivity"/>

        //Buyer
        <activity android:name = ".Buyer.BuyerMainActivity"/>
        <activity android:name = ".Buyer.MyFarmers.BuyerMyFarmersListActivity"/>
        <activity android:name = ".Buyer.FindFarmer.BuyerFindFarmersListActivity"/>
        <activity android:name = ".Buyer.FindFarmer.BuyerFindFarmerDisplayActivity"/>
        <activity android:name = ".Buyer.MyOrders.BuyerMyOrdersOrderListActivity"/>
        <activity android:name = ".Buyer.MyOrders.BuyerMyOrdersDisplayActivity"/>
        <activity android:name = ".Buyer.ViewFarmer.BuyerViewFarmerStockListActivity"/>
        <activity android:name = ".Buyer.ViewFarmer.BuyerViewFarmerStockDisplayActivity"/>
        <activity android:name = ".Cart.CartActivity" android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>

    </application>
</manifest>